.Ankh
.CFUserTextEncoding 
.DS_Store 
.MacOSX 
.Snapshot 
.Trash 
.Xauthority 
.Xcode 
.abuse 
.ardour2 
.bash_history 
.bash_profile.pysave 
.cache 
.cim_install_log 
.config 
.cups 
.dropbox 
.dropbox-master 
.dvdcss 
.emacs.d 
.eno 
.env 
.fontconfig 
.fonts 
.gnome2 
.gnupg 
.idlerc 
.inkscape-etc 
.jackdrc 
.jhbuildrc 
.jhbuildrc-cfw-10.4 
.jhbuildrc-cfw-10.4u 
.jhbuildrc-custom 
.jhbuildrc-fw-10.4 
.jhbuildrc-fw-10.4-test 
.lesshst 
.lilypond-fonts.cache-2 
.local 
.mplayer 
.network_backups 
.pia_manager 
.pia_manager_crash.log 
.pingus 
.pip 
.python-eggs 
.python_history 
.rnd 
.sh_history 
.sqlite_history 
.ssh 
.subversion 
.thumbnails 
.viminfo 
.wapi 
.wireshark 
.wireshark-etc 
1a 
AT.postflight.22430 
Applications 
BTSync 
Blark 
Calibre 
Library 
Controller_off.txt 
Controller_on.txt 
DSupgrade-chart.jpg 
Desktop 
Documents 
Downloads 
Git 
Google 
Drive 
Library 
MacPorts-2.1.2 
Movies 
Music 
Pictures 
Programming 
Public 
SBCL 
Scripts 
SofTest 
Answer 
Files 
Source_Files 
Ubuntu 
One 
VirtualBox 
VMs 
bin 
com.apple.springboard.plist 
config.log 
drinking_game_rules.txt 
gtk-osx-build-setup.sh 
kernel01 
lib 
revcert.asc 
sbcl-1.1.8-x86-64-darwin 
switzerland-0.1.0 
test_msg 
torrent_test
Builds/
.vimrc
.NERDTreeBookmarks
ASI_Work/
VirtualBox VMs/
md5
notes.txt
Google Drive/
