{
  "codeLens.enable": true,
  "languageserver": {
    "elixirLS": {
      "command": "$HOME/.elixir-ls/release/language_server.sh",
      "filetypes": ["elixir", "eelixir"]
    }
  },
  "pyright": {
    "enable": true
  },
  "python": {
    "linting": {
      "mypyEnabled: true
    }
  }
}
